@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
  }
  body {
    @apply bg-white dark:bg-zinc-950;
  }

  * {
    transition: background-color 0.2s ease-in;
    box-sizing: border-box;
  }
}
