@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    scroll-behavior: smooth !important;
  }

  * {
    box-sizing: border-box;
  }

  /* Dark Mode Gradient */
  .text-gradient-dark {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Light Mode Gradient */
  .text-gradient-light {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

}